#gameContainer {
  position: relative; 
    width: 1275px;
    height: 580px;
    margin: 0;

}

@font-face{                     
                                
    font-family: 'Naturaly' ;
    src: url('../Naturaly.otf') format('opentype');
    font-weight: normal;
    font-style:normal;
}

#background {
    position: absolute;
    left: 0;
    top: 0; 
    width: 1275px;
    height: 580px;
    background-image: url("../images/background.PNG");
    background-size: cover;
   
}
#canvas {
    position: absolute;
    border: 1px red !important;
    left: 0;
    top: 0; 
}

body {
    margin:0;
    text-align: top ;
    width: 100%; 
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: top;

}

#startScreen {
    font-family:"Naturaly";
    font-size: 20px;
    color:rgb(119, 83, 64);
    position: absolute;
    top: -10px;
    left: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bubble.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    max-width: 750px;
    width: 100%;

}

#startScreen p {
    padding-inline: 100px;
    padding-top: 170px;
}

#loseMessage {
    height: auto;
    width: 100%;
    margin-top: 170px;
}

#loseMessageInner {
    font-family: "Naturaly";
    font-size: 50px;
    color: rgb(100, 52, 32);
    text-align: center; 
    align-items: center; 
    background-color: rgba(224, 207, 196, 0.8);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 150px;

}

#win{
    position: absolute;
    top: -10px;
    left: 300px;
    text-align: center;
    display: flex;
    height: 600px;
    max-width: 750px;
    width: 100%;
}

#startButton{
    padding: 10px 10px;
    font-family: "Naturaly";
    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: rgb(100, 52, 32);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
   
}

#startButton:hover {
    background-color: rgb(133, 77, 54);
}

#retryButton{
    padding: 10px 10px;
    font-family: "Naturaly";
    font-size: 30px;
    color:rgb(255, 255, 255);
    background-color: rgb(100, 52, 32);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}

#retryButton:hover {
    background-color: rgb(133, 77, 54);
}

#allnuts {
    width: 200px;
    height: auto;
}

#nutDisplay{
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 227, 214, 0.7);
    padding: 1px;
    margin: 1px;
    margin-right: 2px;
    border-radius: 30px;
   max-width: 200px;
   width: 100%;

}
#nutscollected{
    width: 100px;
    margin-right: 10px;
    float: left;
   
}

#nutsText{
   
    margin: 0;
    font-family: "Naturaly";
    font-size: 30px;
    vertical-align: middle;
    line-height: 100px;
    color: rgb(100, 52, 32);
    
}


#timerDisplay{
    position: absolute;
    left: 10px;
    display:flex;
    align-items: center;
    text-align: right;
    top: 10px;
    background-color: rgba(246, 227, 214, 0.7);
    padding: 1px;
    margin: 1px;
    border-radius: 30px;
    width: 145px;

}

#timer {
    width: 60px;
    margin-right: 10px;
    padding-left: 10px;

} 

#timerText{
    font-family: 'Naturaly';
    font-size: 30px;
    color:rgb(100, 52, 32);
    padding: 1px;
    padding-right: 15px;
    
}

#heartImage{
    position: absolute;
    width: 150px;
    height: 80px;
    
}

.Nut {
    position: absolute;
}

#loseMessage{
    position: absolute;
    left: 0;
    top: 0; 
}